@import url("https://fonts.googleapis.com/css2?family=Overpass&family=Permanent+Marker&display=swap");

.App {
  height: 100vh;
  width: 100vw;
}

.TitlePage {
  position: absolute;
  top: 0vh;
  left: 5vw;
  height: 100vh;
  width: 95vw;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#boxes {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 95vh;
  height: 95vh;
}


/* .boxOne, .boxThree {
  background-color: darkblue;
}

.boxTwo, .boxFour {
  background-color: yellow;
} */

.boxOne, .boxTwo, .boxThree, .boxFour {
  height: 5vh;
  width: 5vh;
  margin: 2vh;
  background-color: black;
}

h1 {
  font-size: 6em;
  font-family: "Permanent Marker";
}

h2 {
  font-size: 3em;
  font-family: "Permanent Marker";
}

.name, .title {
  opacity: 0
}

.highlight {
  color: yellow;
}

h1,
h2 {
  background-color: black;
  margin: 0;
  z-index: 1;
  mix-blend-mode: exclusion;
  color: white;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}

.NavBar {
  position: fixed;
  top: 0;
  left: 0;
  width: 5vw;
  height: 100vh;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
  z-index: 1;
  border-radius: 0px 15px 15px 0px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.portfolioLinks {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}

.socialMedia {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: flex-end;
}

.portfolioIcon,
.icon {
  width: 60%;
  height: auto;
  margin-bottom: 10%;
}

.imageHolder {
  width: 25vw;
  height: 40vh;
margin-bottom: 10vh;
  background-image: url("./svg/Jordan.jpg");
  background-position: top;
  background-size: cover;
  opacity: 0;
  border-radius: 15px;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}

.profilePic {
  height: 100%;
  width: auto;
}

